html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body {
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    color: #000; 
}
.header {
    background-color: #484848;
    margin-bottom: 20px;
}
.menu__list {
    display: flex;
}
.menu__list a{
    color: #ffffff;
    font-size: 15px;
    display: inline-block; 
    padding: 5px 15px;
}
.menu__list a,
.link{
    text-decoration: none;
    font-weight: 600;
}
.menu__list a:hover{
    background-color: #ffffff;
    color: #484848;
}
.content {
    position: absolute;
    z-index: -1;
    display: none;
    top: 34px;
    width: 100%;
}
.main {
    z-index: 1;
    display: block;
}

.content:target {
    z-index: 2;
    display: block;
}
.content {
    padding: 0 15px 15px 15px;
    /* display: none; */
}
/* .content:target{
    display: block;
} */
.content::before{
    text-align: center;
    height: 34px;
    font-size: 15px;
    color: #484848;
    font-weight: 600;
    padding-top: 5px;
    top: 0;
    background-color: #ffffff;
    position: absolute;
}
.main::before {
    content: "Main";
    left: 0;
    width: 64px;
}
.news::before {
    content: "News";
    left: 64px;
    width: 65px;
}
.contacts::before {
    content: "Contacts";
    left: 128px;
    width: 87px;
}
.about::before {
    content: "About Company";
    left: 215px;
    width: 137px;
}
.location::before {
    content: "Location";
    left: 351px;
    width: 87px;
}
.title{
    text-align: center;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 20px;
}
.news__title {
    color: blueviolet;
}
.contacts__title {
    color: brown;
}
.about__title {
    color: chartreuse;
}
.location__title {
    color: deeppink;
}
.link{
    color: #170dff;
}
.text + .text{
    margin-top: 5px;
}